---
<!-- layout: compress  -->
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page</title>
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

  <!-- useful libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- bundled styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/main.css">
</head>

<body>

  {{ content }}

  <!-- bundled code -->
  <script src="{{site.baseurl}}/dist/vendor.js"></script>
  <script src="{{site.baseurl}}/dist/main.js"></script>
</body>

</html>
